*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

  .content{
    height: 100vh;
  }

  .navbar{

  }


  .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .register-content h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-content .form-item {
    margin-bottom: 15px;
  }
  
  .register-content .d-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .register-content .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-content .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .register-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-content a:hover {
    text-decoration: underline;
  }
  

  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .login-content h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-content .form-item {
    margin-bottom: 15px;
  }
  
  .login-content .d-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .login-content .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-content .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .login-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-content a:hover {
    text-decoration: underline;
  }
  
  /*transaction page*/
  .filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 3px;
  }

  /* anticons */
.switch-icons{
  border: 1px solid rgba(0, 0, 0, 0.623);
  border-radius: 5px;
    padding: 10px 15px;

}

  .anticon svg{
    font-size: 20px;
    cursor: pointer;
  }

  .active-icon{
    color: black;
  }

  .inactive-icon{
    color: gray;
  }

  